# 7506 Organización de Datos 

## Primera Parte

In [4]:
# imports
import pandas as pd
import numpy as np

### Consulta 21

¿Dónde está la referencia geográfica más repetida en la tierra de toda la Wikipedia
Español?

### Análisis exploratorios

In [6]:
geo_tags = pd.read_csv('wikipedia_dataset_2c2021/geo_tags.csv')

In [8]:
geo_tags.describe()

,gt_id,gt_page_id,gt_primary,gt_lat,gt_lon,gt_dim
count,5.563930e+05,5.563930e+05,556393.000000,556393.000000,556393.000000,5.563930e+05
mean,1.349353e+08,5.013884e+06,0.651552,31.594287,-23.254886,1.245241e+04
std,6.860804e+06,2.783163e+06,0.476479,25.160529,60.374770,8.459093e+04
min,1.580410e+05,7.000000e+00,0.000000,-90.000000,-180.000000,0.000000e+00
25%,1.358416e+08,2.963933e+06,0.000000,30.028056,-78.133333,1.000000e+03
50%,1.361459e+08,4.743908e+06,1.000000,40.435364,-4.190939,1.000000e+04
75%,1.364534e+08,7.614790e+06,1.000000,45.018889,6.327778,1.000000e+04
max,1.366722e+08,1.001079e+07,1.000000,90.000000,359.370000,1.000000e+07

In [16]:
geo_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556393 entries, 0 to 556392
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   gt_id       556393 non-null  int64
 1   gt_page_id  556393 non-null  int64
 2   gt_globe    556393 non-null  object
 3   gt_primary  556393 non-null  int64
 4   gt_lat      556393 non-null  float64
 5   gt_lon      556393 non-null  float64
 6   gt_dim      556393 non-null  int64
 7   gt_type     449893 non-null  object
 8   gt_name     72557 non-null   object
 9   gt_country  79192 non-null   object
 10  gt_region   3088 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 46.7+ MB

In [11]:
geo_tags.head()

,gt_id,gt_page_id,gt_globe,gt_primary,gt_lat,gt_lon,gt_dim,gt_type,gt_name,gt_country,gt_region
0,158041,4328020,earth,0,41.5075,-5.8175,1000,NaN,NaN,NaN,NaN
1,5844377,4670424,earth,0,13.7380,-89.2920,10000,city,NaN,NaN,NaN
2,5844381,4670424,earth,0,13.7020,-89.2080,10000,city,NaN,NaN,NaN
3,5844383,4670424,earth,0,13.4000,-89.7500,10000,city,NaN,NaN,NaN
4,5844388,4670424,earth,0,12.8500,-88.0000,10000,city,NaN,NaN,NaN

In [12]:
geo_tags['gt_country'].value_counts()

US    43836
ES    24785
FR      965
PE      854
BO      740
      ...
GQ        1
BN        1
CT        1
LI        1
BF        1
Name: gt_country, Length: 216, dtype: int64

In [13]:
geo_tags['gt_lat'].value_counts()

-30.500000    274
-60.000000    177
 90.000000    172
 45.000000    125
 0.000000      94
             ...
 64.187222      1
 28.739500      1
 8.251351       1
 43.420800      1
 49.212778      1
Name: gt_lat, Length: 313557, dtype: int64

In [14]:
geo_tags['gt_lon'].value_counts()

-64.500000     278
 0.000000      175
 11.000000      86
-58.392115      85
-59.320500      82
              ...
-80.379167       1
-3.015030        1
 141.110333      1
-99.593231       1
 36.738611       1
Name: gt_lon, Length: 376712, dtype: int64

In [17]:
geo_tags['lat_and_lon'] = geo_tags['gt_lat'].astype(str) + geo_tags['gt_lon'].astype(str)

In [18]:
geo_tags['lat_and_lon'].value_counts()

-30.5-64.5                                255
-34.587588000000004-58.392115000000004     85
-34.2949-59.3205                           82
19.043332999999997-98.197222               72
0.00.0                                     63
                                         ...
5.2166.2                                    1
48.394.53                                   1
46.8813888910.79611111                      1
43.1872-8.2421                              1
43.27343885-6.86190699                      1
Name: lat_and_lon, Length: 506660, dtype: int64

In [20]:
geo_tags[geo_tags['lat_and_lon']=='-30.5-64.5']

,gt_id,gt_page_id,gt_globe,gt_primary,gt_lat,gt_lon,gt_dim,gt_type,gt_name,gt_country,gt_region,lat_and_lon
46875,135261965,5864596,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
62831,135695923,221377,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
63119,135697143,61366,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
63837,135699482,82449,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
66638,135705811,166149,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
...,...,...,...,...,...,...,...,...,...,...,...,...
530737,136616913,266213,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
535500,136635107,461045,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
540900,136655171,68959,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
556333,136672122,399580,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5
556363,136672153,266216,earth,0,-30.5,-64.5,1000,NaN,NaN,NaN,NaN,-30.5-64.5

#### Respuesta
Latitud -30.5, longitud -64.5

### Consulta 6

El porcentaje de contenidos que están publicados cuya última edición no tiene
comentario para los usuarios que realizaron 1, >10 y >100 de las últimas ediciones

### Consulta 10

### Consulta 13

### Consulta 18

### Consulta 42

### Consulta 53